/*  your css code here. If applicable */
body{
    display: flex;
	margin: 50px;
	text-align:center;
	color:black;
}
table ,th,tr,td{
	border: 1px solid black;
	background: yellow;
	padding:2px;
	
}
table td ,th{
	padding:20px;
	
}
