/*  your css code here. If applicable */
body{
    display: flex;
	margin: 50px;
	text-align:center;
	color:black;
	font-size:30px;
	font:bold;
	
}
table ,th,tr,td{
	border: 1px solid black;
	background: yellow;
	padding-bottom:1px;
	
	
}
table td ,th{
	padding-right:20px;
	
	
	
}
